/* SocialMediaPopup.css */

.social-media-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is on top of other content */
}

.popup-content {
    background: linear-gradient(to right, #000000, #000289);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    max-width: 600px;
    width: 90%;
    text-align: center;
    color: #ffffff; /* White text color */
}

.popup-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.social-media-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0; /* Add some margin between text and icons */
}

.social-media-list li {
    display: inline-block;
    margin-right: 2rem; /* Increase spacing between icons */
}

.social-media-list li:last-child {
    margin-right: 0;
}

.social-media-list a {
    color: #ffffff; /* White color for social media icons */
    font-size: 2rem; /* Increase icon size */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth color transition and scaling on hover */
}

.social-media-list a:hover {
    color: #d9d9d9; /* Lighter color on hover */
    transform: scale(1.2); /* Scale up on hover */
}

button {
    background-color: transparent; /* Blue button color */
    color: #ffffff; /* White text color */
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}


/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .popup-content {
        padding: 20px;
    }

    .popup-content h2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .social-media-list a {
        font-size: 1.5rem;
    }

    .social-media-list li {
        margin-right: 1.5rem; /* Adjust spacing between icons for smaller screens */
    }

    button {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
    }
}